body { 

    background-color: #020311; 
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.below {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 80px;

}



.logo {
    width: 450px;
    height: auto;
    margin-top: 40px;
    margin-left: 23px;
}

.image {
    width: 750px;
    height: auto;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0px;
}

.link {
    background-color: black;
    color: white;
    border-width: 10px;
    border-color: #011d00;
    padding: 18px;
    font-size: 30px;
    text-decoration: none;
    margin-right: 64px;
}

.demo {
    background-color: black;
    color: white;
    border-width: 10px;
    border-color: #011d00;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;

    font-size: 40px;
    text-decoration: none;
    margin-top: 20px;
    margin-left: -15px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 40;
    width: 1000px;
}

.story {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    color: white;
    font-size: 20px;
}

