body {
    background-color: 	#010208;
    padding-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.logo {
    width: 450px;
    height: auto;
    margin-top: 40px;
    margin-left: 15px;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

.link {
    font-family: Helvetica monospace;
    background-color: black;
    border-color: rgb(12, 11, 11);
    color: rgb(106, 218, 32);
    padding: 30px;
    padding-left: 85px;
    padding-right: 85px;
    font-size: 25px;
    text-decoration: none;
    margin-right: 22px;
    border-radius: 5px;
}

subheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;
}

.tagline {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(221, 14, 14);
    font-size: 32px;
    padding-top: 40px;
}

.story {
    font-family: 'Courier New', Courier, monospace;
    width: 450px;
    color: rgb(14, 180, 221);
    font-size: 20px;
}

.demo {
    font-family: Helvetica monospace;
    background-color: black;
    border-color: rgb(12, 11, 11);
    color: rgb(106, 218, 32);
    font-size: 40px;
    text-decoration: none;
    margin-top: 52px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 172px;
    padding-right: 172px;
    margin-left: -42px;
    border-radius: 5px;
}

.image {
    width: 915px;
    height: auto;
    margin-left: 160px;
    border-radius: 5px;
}

.second-tier {
    background-color: rgba(24, 2, 29, 0.356);
    display: flex;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 90px;
    padding-top: 30px;
}

.information > h2 {
    text-align: center;
    color: rgb(112, 5, 5);
    -webkit-text-stroke: 3px black;
    font-family: Helvetica monospace;
    font-size: 100px;
    margin: 40px;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 35px;
    text-align: center;
}

.thumbnail > img {
    width: 270px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 5px;
    border-radius: 5px;
}

.word {
    color: gold;
    font-family: Helvetica monospace;
    font-size: 30px;
    margin: 20px;
    padding-top: 20px;
}

.third-tier {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 190px;
    padding-bottom: 80px;
}

.quote {
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    color: cyan;
    font-size: 40px;
    margin-left: 100px;
}

.azazel {
    display: flex;
    font-family: Fantasy;
    color: rgb(122, 1, 1);
    font-size: 90px;
    font-weight: bold;
    padding-top: 110px;
    margin-left: -320px;
}

.fourth-tier {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 160px;
    margin-left: 230px;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.box {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 500px;
    padding-right: 500px;
    background-color: black;
    margin-bottom: -150px;
    margin-left: -40px;
    border-radius: 5px;
}

.coming {
    color: red;
    font-size: 30px;
    margin-left: -300px;
}

.join {
    display: flex;
    align-self: center;
    direction: row;
    margin: 20px;
    margin-left: -150px;
    color: cyan;
}

.signup {
    font-family: Helvetica monospace;
    border-color: rgb(5, 34, 3);
    background-color: rgb(39, 211, 34);
    color: black;
    border-width: 5px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 30px;
    margin-left: 590px;
    margin-top: -130px;
    display: flex;
    border-radius: 5px;
    font-weight: bold;
}

.footer {
    display: flex;
    direction: row;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15px;
    justify-content: center;
}
