body { 
    margin-top: 30px;
    background-color: 	#010209;

}

.first-tier {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}

.logo {
    width: 450px;
    height: auto;
    margin-top: 40px;
    margin-left: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0px;
}

.link {
    background-color: black;
    color: white;
    border-width: 10px;
    border-color: #011d00;
    padding: 18px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20px;
}

.second-tier {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-left: 80px;
    margin-right: 80px;

}

.tagline {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    font-size: 40;
    width: 500;
    padding-top: 30px;
}

.story {
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    color: white;
    font-size: 20px;
}

.demo {
    background-color: black;
    color: white;
    border-width: 10px;
    border-color: #011d00;
    padding: 55px;
    padding-left: 160px;
    padding-right: 160px;
    font-size: 40px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: -42px;
}

.image {
    width: 915px;
    height: auto;
    margin-left: 160px;
}

.third-tier > h2 {
    text-align: center;
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin-top: 100px;
}

.info-images {
    display: flex;
    justify-content: center;
    width: 1750px;
    gap: 40px;
    text-align: center;
    margin: 50px;
}

.chunk > img {
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;

}

.word  {
    color: green;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px;
    font-weight: bold;
}

.maroon {
    background-color: rgba(22, 1, 11, 0.877);
    padding: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 110px
}


